<div class="container">
<p class="p-4 text-center bg-info mt-4 rounded-pill">This website about a courses list that has some courses, you can add to it, determine how many records to display, and paginate through.</p>
<div class="bg-dark mt-2 text-light text-center rounded-pill p-2">
    <h4 class="mt-4 p-3">Made by: Mayar Yasser Elabbasy</h4>
    <h5 class="p-3">Open Source Applications Development student at Information Technology Institute (ITI)</h5>
    <div class="text-center p-4">
        <h2 class="bg-info p-2 rounded-pill text-center">Contact Info</h2>
        <h4>Email: mayarelabbasy2016@gmail.com</h4>
        <h4>Mobile: 01092210559</h4>
        <h4><a href="https://www.linkedin.com/in/mayar-elabbasy-453b0917b/">LinkedIn</a></h4>
        <h4><a href="https://github.com/Mayar-Elabbasy">GitHub</a></h4>
        <h4><a href="https://www.sololearn.com/Profile/9868739">SoloLearn</a></h4>     
    </div>  
</div>
</div>

  
