/* You can add global styles to this file, and also import other style files */
@import"bootstrap/dist/css/bootstrap.min.css";


.list-group{
    padding: 30px;
    display: block;
    border: 5px solid navy;
    background-color: lightcyan;
}
